section{
 
    .motto{
        font-weight: 700;
       text-transform: uppercase;
        color: #4E5CC4;
        letter-spacing: 1px;
    }

    .title{
        font-size:55px;
        display: flex;
        text-transform: capitalize;
        flex-direction: column;
    
    .light{
     
    }

    .bold{
        font-weight:800;
    }
}
}