@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:white;
  color: black;
  overflow-x: hidden;
}

html{
 scroll-behavior: smooth;
}

.swiper-slide{
  color: rgb(224, 231, 253);
}


.swiper-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}